.generalPmV{
    height: 300px;
    display: flex;
    justify-content: space-around;
}

.contenedorDeProductos{
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: space-around;
}

.productos{
    height: 100%;
    width: 30%;
    border: 5px solid white;
}

.productos article{
    height: 80%;
    width: 100%;
    display: flex;
    align-items: flex-end;    
    justify-content: flex-end;
    background-color: white;
}

.productos article img{
    height: 100%;
    width: 100%;
    position: relative;

}

.productos article p{
    border:1px solid black ;
    border-right: none;
    border-bottom-left-radius:10px ;
    border-top-left-radius:10px ;
    height: 30px;
    width: 200px;
    background-color: rgb(160, 0, 0);
    margin-bottom: 10px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.productos .recuadroInferior{
    border-top:2.5px solid black ;
    height: 20%;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(160, 0, 0);
    color: white;
}

.productos .recuadroInferior .carrito{
    height: 80%;
    width: 35px;
}

