
main{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#miCuenta{
    background-color: rgb(105, 0, 0);

}

#general{
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#general table{
    height: 100%;
    width: 90%;
    border-collapse: collapse;
    background-color: white;
}

thead{
    height: 25%;
    background-color: rgb(121, 0, 0);
    color: white;
}


.tablaProductos{
    height: 17%;
}

#totalPagar{
    height: 25%;
    background-color: rgb(121, 0, 0);
    color: white;
}

th{
    border: 1px solid black;
}

td{
    border: 1px solid black;
    width: 33%;
    text-align: center;
}

#precioFinal{
    background-color: white;
    color: black;
}
